/* Extra Large Screens */
/* @media (min-width:1920) {} */

/* Desktops */
/* @media (max-width:1919px) {
    .container {
        max-width: 1919px;
        padding: 0 5%;
    }
} */

/* Large Tablets */
@media (max-width:1199px) {   
    #main-section {
        display: grid;
        grid-template-columns: 1fr;
        background: none;
    }
    .aside {
        background: var(--bg-dark-black);
        padding: 2.5rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: fixed;
        width: 100%;
        z-index: 1001;
        transition: all 1s ease-in-out;
    }
    #humbarger{
        display: block;
        color: var(--orange-color);
    }
    #humbarger.active{
        display: none;
    }
    #humbarger-close i{   
        display: block;
        color: var(--orange-color);
    }

    .aside .logo {
        margin-bottom: 0rem;
    }
    .aside-footer {
        display: none;
    }
    .mood-icons {
        position: absolute;
        top: 10rem;
        z-index: 101; 
    }
    /* #navbar{
        position: relative;
    } */
    #navmenu{
        position: absolute;
        top: 8.5rem;
        left: -10rem;
        width: 70%;
        height: 100vh;
        background: #0a0a0af1;
        padding-left: 2rem;
        /* opacity: 1; */
        z-index: 101;
        display: none;
        transition: all 1s ease-in-out;
        border-top: 3px solid var(--orange-color);
        padding-top: 2rem;
    }
    #navmenu.active{
        display: block;
        left: 0rem;
        transition: all 1s ease;
    }
    .main-content{
        padding: 10rem 0;
        background: url(../css/image/home2-hero-bg-dark.png);
    }
    .content-group {
        /* flex-direction: column; */
        width: 100%;
        align-items: center;
        padding: 0 5rem;
        margin: auto;
    }
}

/* Small Tablets */
@media (max-width:991px) {   
    .right{
        padding-top: 5rem;
    }
    .left {
        width: 100%;
        margin-right: 0rem;
    }
}

/* Extra Small Devices */
@media (max-width:767px) {  
    .content-group {
        flex-direction: column;
        text-align: center;
    }  
    .main-content{
        background-image: none;
        background-color: var(--bg-black-color);
    }
    .mood-icons {
        top: 8rem;
        right: -3rem;
    }
  
}
   
/* Mobile */
@media (max-width:480px) {
    
}