/* ===========================================       ===========================================
                                               Fonts 
   ===========================================       =========================================== */
@font-face {
    font-family: tfont;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: tmedium;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: thavy;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: logofont;
    src: url(../fonts/BeauRivage-Regular.ttf);
}

/* Base */
*, ::before, ::after{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    /* Custom Color */
    /* Dark Mood */
    --orange-color:#EE5F38;
    --bg-black-color:#212428;
    --text-white-color:#FFFFFF;
    --bg-dark-black:#000000;
    --yello-color:#E6BC13;
    --pink-color:#ED38D1;
    --purple-color:#A348CD;
    --green-color:#48CDA0;
    --blue-color:#007EFF;
    --btn-bg-hover-color:#3c3d3e;
    --progressbar-bg-color:#374151;
    /* Light Mood */

    /* Typography */
    --theme-font: tfont ;
    --logo-font: logofont;
    --theme-medium-font:tmedium;
    --theme-havy:thavy;
}

/* Theme Mood */
#dark{
    display: block;
}
#dark.active{
    display: none;
}
#moon.active{
    display: block;
    color: var(--bg-dark-black);
}
#moon{
    display: none;
}


body{
    font-family: var(--theme-font);
    color: var(--text-white-color);
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    line-height: 3rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* =========================================== Reusable Component =========================================== */                
.container{
    width: 100%;
    margin:0 auto;
}
ul li{list-style-type: none;} 
a{text-decoration: none; color: var(--black-color);}
ul li a:hover{
    color: var(--orange-color);
    transition: all 0.42s ease;
}
span{
    display: inline-block;
    color: var(--orange-color);
}
img{
    width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--theme-font);
}
.active{
    color: var(--orange-color);
}
.btn{
    display: inline-block;
    background: var(--orange-color);
    padding: 1.3rem 2.5rem;
    border-radius: 50px;
    cursor: pointer;
    color: var(--black-color);
    border: 2px solid var(--theme-color);
}
.btn:hover,
.btn-2:hover{
    transition: all 0.42s ease;
    background: var(--btn-bg-hover-color);
}
.btn-2{
    display: inline-block;
    background: var(--orange-color);
    padding: 1.3rem 4.5rem;
    border-radius: 50px;
    cursor: pointer;
    color: var(--black-color);
    border: 2px solid var(--theme-color);
    font-family: var(--theme-havy);
    font-size: 2rem;
}
.btn-3{
    display: inline-block;
    background: var(--orange-color);
    padding: 0.1rem 2rem;
    border-radius: 50px;
    cursor: pointer;
    color: var(--black-color);
    font-size: 1.3rem;
    text-transform: uppercase;
}
.section{
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-gap: 0.5rem; */
}
.section-title{
    text-align: center;
    margin-top: 10rem;
    text-transform: uppercase;
    font-family: var(--theme-havy);
    font-weight: 800;
    font-size: 4rem;
    position: relative;
    z-index: 1001;
}
.section-title::before{
    content: 'About Me';
    position: absolute;
    width: 100%;
    left: 0;
    top: -0.5rem;
    text-align: center;
    font-size: 7rem;
    font-family: var(--theme-havy);
    font-weight: 700;
    z-index: -1;
    text-shadow: 3px 3px 1px #402D2A;
    color: var(--btn-bg-hover-color);
    text-transform: uppercase;
}
/* =========================================== Main Section =========================================== */    
.section{
    background: url(../css/image/home2-hero-bg-dark.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
}  

/* =========================================== Aside Section =========================================== */    

/* Theme Mood */
.theme-mood{
    position: fixed;
    right: 5rem;
    top: 3rem;
}
.mood-icons{
    /* width: 12rem;
    height: 5.6rem; */
    background: #fff;
    position: relative;
}
.mood-icons i{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 1.5rem;
    font-size: 2rem;
    background: var(--orange-color);
    border-radius: 50%;
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    line-height: 1.7rem;
    text-align: center;
}
.aside{
    background: var(--bg-dark-black);
    padding: 2.8rem;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    width: 32rem;
    height: 75rem;
    position: fixed;

}
.aside .logo{
    margin-bottom: 5rem;
}
.aside .logo a{
    font-size: 4.5rem;
    font-family: var(--logo-font);
    font-weight: bold;
}
#navmenu{
    position: relative;
}
#navmenu li{
    padding: 0.9rem 0;
}
#navmenu li a{
    font-size: 1.8rem;
    font-weight: bold;
}
#navmenu i{
    padding-right: 1rem;
    font-size: 1.6rem;}
.aside-footer{
    margin-top: 2rem;
}

/* Humbarger Menu */
#humbarger{
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
#humbarger-close i{
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}
/* ===========================================       ===========================================
                                               Home Page 
   ===========================================       =========================================== */
/* ============ Main-Content Section ============= */ 
           
.hero-content{
    align-items: center;
    padding: 0% 3%;
    margin: auto;
    width: 100%;
    margin-left: 32rem;
    /* position: sticky;    */
}

.content-group{
    display: flex;
    justify-content:start;
    align-items: center;
}

.content-item .left{
    /* width: 40rem; */
    margin-right: 15rem;
}
.left img{
    width: 80%;
}
.content-item h3{
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 400;
}
.content-item h1{
    font-size: 5.5rem;
    font-size: clamp(3rem, 4vw, 5.5rem);
    font-family: tmedium;
    font-weight: bold;
    margin: 3rem 0;
}
.content-item h2{
    font-size: 2.8rem;
    font-weight: 500;
    margin: 4rem 0 3rem;
}
.content-item p{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.content-item .btn i{
    color: var(--orange-color);
    background: var(--text-white-color);
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1.5rem;;
}
.social-icons ul{
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.social-icons ul li:nth-child(1){
    font-size: 1.8rem;
    margin-right: 2rem;
    font-weight: bold;
}
.social-icons i{
    font-size: 3rem;
    background: var(--bg-black-color);
    padding: 1rem;
}

/* Transition */
.left{
    position: relative;
}
.transition-icons img{
    width: 6rem;
}
.figma{
    position: absolute;
    top: 10rem;
    left: -3rem;
    animation: img-animation 7s ease-in-out infinite;
}
.photoshop{
    position: absolute;
    top: 25rem;
    right: 10rem;
    animation: img-animation 7s ease-in-out infinite;
}
/* Animation */
@keyframes img-animation{
    0%{
        /* top:30rem; */
        transform: translateY(50%);
    }
    50%{
        /* top:-30rem; */
        transform: translateY(-50%);
    }
    100%{
        /* top:-10rem; */
        transform: translateY(60%);
    }
}
/* Project Histry */
.project-histry{
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--bg-dark-black);
    padding: 1rem 3rem;
    border-radius: 5rem;
    position: absolute;
    /* width: 25rem;
    height: 8rem; */
    /* line-height: 2rem; */
    bottom:0;
    right: 0;
}
.project-histry i{
    font-size: 4rem;
    margin-right: 2rem;
    color: var(--orange-color);
}
.project-histry h5{
    font-size: 2.8rem;
    font-weight: bold;
    font-family: var(--theme-medium-font);
    /* line-height: 4rem; */
}


/* ===========================================       ===========================================
                                               About Page 
   ===========================================       =========================================== */
.about-content{
    background: var(--bg-black-color);
    align-items: center;
    padding: 0% 3.5%;
    margin: auto;
    width: 100%;
    margin-left: 32rem;
}
.about-content .content-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    margin-top: 10rem;
}
.subtitle{
    color: var(--orange-color);
    font-style: normal;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.about-content .content-item h2{
    font-size: 4rem;
    font-family: var(--theme-havy);
    line-height: 5rem;
    padding: 0;
    margin:2rem 0 4rem;
}
.btn-2{
    margin: 4rem 0 0;
}
/* Right Side */
.center-text{
    text-align: center;
    margin-top: 5rem;
}
.center-text h4{
    font-size: 7rem;
    font-family: var(--theme-havy);
    font-weight: 700;
    z-index: -1;
    text-shadow: 3px 3px 1px var(--orange-color);
    color: var(--text-white-color);
    text-transform: uppercase;
}
.center-text p{
    font-size: 3rem;
    font-family: var(--theme-medium-font);
    font-weight: 800;
    margin-top: 3rem;
}
/* Transition Image */
.transition-bg img{
    width: 10%;
}
/* ------------------------ experience Section ------------------------ */

.resume-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    padding: 5rem 0;
}
.resume-item{
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--orange-color);
    padding-top: 5rem;

}
.resume-item:nth-child(1),
.resume-item:nth-child(2){
    padding-top: 0;
}
.icon span i{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-radius: 50%;
    background: var(--orange-color);
    color: var(--text-white-color);
    font-size: 3rem;
    margin: 0 2rem;
}
.resume-content-title{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;
}
.resume-content-title h3{
    font-size: 2.3rem;
    font-family: var(--theme-medium-font);
    margin-right: 2rem;
}
.dot-icon span{
    width: 2rem;
    height: 2rem;
    background: var(--orange-color);
    border-radius: 50%;
    position: relative;
    margin-left: -1rem;
}
.dot-icon span::after{
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--text-white-color);
    border-radius: 50%;
    position: absolute;
}
.year{
    color: var(--orange-color);
    font-family: var(--theme-medium-font);
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.year span{
    width: 0.8rem;
    height: 0.8rem;
    background: var(--orange-color);
    margin-right: 1rem;
}

/* Skill Section */
.skill-info{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 5rem;
}
.skill-completed{
    width: 30%;
    position: relative;
}
.skill-completed span{
    padding: 0.1rem 0.8rem;
    background: var(--orange-color);
    position: absolute;
    bottom: 0.5rem;
    border-radius: 0.3rem;
    color: var(--text-white-color);
}
.skill-bar{
    width: 100%;
    height: 1rem;
    background: var(--progressbar-bg-color);
    border-radius: 2rem;
    position: relative;
    margin-top: 1rem;
}
.skill-bar::after{
    content: '';
    width: 100%;
    height: 0.8rem;
    background: var(--orange-color);
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 0.1rem solid var(--btn-bg-hover-color);

}
/* All Scores */
.item:nth-child(1) .skill-bar::after{width: 60%;}
.item:nth-child(2) .skill-bar::after{width: 100%;}
.item:nth-child(3) .skill-bar::after{width: 75%;}
.item:nth-child(4) .skill-bar::after{width: 90%;}
.item:nth-child(5) .skill-bar::after{width: 90%;}
.item:nth-child(6) .skill-bar::after{width: 70%;}
/* Skill Completed Text */
.item:nth-child(1) .skill-completed{width: 45%;}
.item:nth-child(2) .skill-completed{width: 10%;}
.item:nth-child(3) .skill-completed{width: 30%;}
.item:nth-child(4) .skill-completed{width: 15%;}
.item:nth-child(5) .skill-completed{width: 15%;}
.item:nth-child(6) .skill-completed{width: 35%;}


